<html>

<head>
</head>

<body>
<div id="loading" style="visibility:hidden">Loading&#8230;</div>
<div id="top_part_div">
  <ul id="datasets_div" class="tab">
  </ul>
  <div id="edit_div">
    <ul id="suggestions_div" class="tab"></ul>
    <div id="input_text_div"></div>
    <div id="explain_button_div"></div>
  </div>
</div>
</div>
<div id="models_div">
  <h3>Compare models:</h3>
  <div id="left_model_div"></div>
  <div id="right_model_div"></div>
</div>
<script type="text/javascript" src="static/bundle.js"></script>
<!--<div id="loading" class="hidden">Loading&#8230;</div>-->
</body>
</html>
